doughtnut.blend filter=lfs diff=lfs merge=lfs -text
assets/doughnut-texture.png filter=lfs diff=lfs merge=lfs -text
first-ok-cup-render.png filter=lfs diff=lfs merge=lfs -text
assets/WaterDropletsMixedBubbled001_NRM16_1K.tif filter=lfs diff=lfs merge=lfs -text
assets/BricksPaintedWhite001/Previews/BricksPaintedWhite001_Cube.jpg filter=lfs diff=lfs merge=lfs -text
assets/coffee-in-glass-cup.jpg filter=lfs diff=lfs merge=lfs -text
assets/StoneMarbleCalacatta004/Previews/StoneMarbleCalacatta004_Cube.jpg filter=lfs diff=lfs merge=lfs -text
assets/StoneMarbleCalacatta004/Previews/StoneMarbleCalacatta004_Flat.jpg filter=lfs diff=lfs merge=lfs -text
assets/StoneMarbleCalacatta004/Previews/StoneMarbleCalacatta004_Sphere.jpg filter=lfs diff=lfs merge=lfs -text
assets/StoneMarbleCalacatta004/REGULAR/3K/StoneMarbleCalacatta004_COL_3K.jpg filter=lfs diff=lfs merge=lfs -text
assets/BricksPaintedWhite001/Previews/BricksPaintedWhite001_Flat.jpg filter=lfs diff=lfs merge=lfs -text
assets/BricksPaintedWhite001/Previews/BricksPaintedWhite001_Sphere.jpg filter=lfs diff=lfs merge=lfs -text
assets/BricksPaintedWhite001/REGULAR/3K/BricksPaintedWhite001_NRM_3K.jpg filter=lfs diff=lfs merge=lfs -text
doughtnut.blend1 filter=lfs diff=lfs merge=lfs -text
Frames/2/0026.png filter=lfs diff=lfs merge=lfs -text
Frames/1/0002.png filter=lfs diff=lfs merge=lfs -text
Frames/2/0010.png filter=lfs diff=lfs merge=lfs -text
Frames/2/0014.png filter=lfs diff=lfs merge=lfs -text
Frames/2/0015.png filter=lfs diff=lfs merge=lfs -text
Frames/2/0011.png filter=lfs diff=lfs merge=lfs -text
Frames/2/0034.png filter=lfs diff=lfs merge=lfs -text
Frames/1/0013.png filter=lfs diff=lfs merge=lfs -text
Frames/1/0026.png filter=lfs diff=lfs merge=lfs -text
Frames/2/0030.png filter=lfs diff=lfs merge=lfs -text
Frames/2/0033.png filter=lfs diff=lfs merge=lfs -text
Frames/2/0006.png filter=lfs diff=lfs merge=lfs -text
Frames/2/0012.png filter=lfs diff=lfs merge=lfs -text
Frames/2/0027.png filter=lfs diff=lfs merge=lfs -text
Frames/1/0028.png filter=lfs diff=lfs merge=lfs -text
Frames/1/0032.png filter=lfs diff=lfs merge=lfs -text
Frames/2/0001.png filter=lfs diff=lfs merge=lfs -text
Frames/2/0003.png filter=lfs diff=lfs merge=lfs -text
Frames/1/0007.png filter=lfs diff=lfs merge=lfs -text
Frames/1/0019.png filter=lfs diff=lfs merge=lfs -text
Frames/2/0025.png filter=lfs diff=lfs merge=lfs -text
Frames/2/0024.png filter=lfs diff=lfs merge=lfs -text
Frames/1/0010.png filter=lfs diff=lfs merge=lfs -text
Frames/1/0011.png filter=lfs diff=lfs merge=lfs -text
Frames/1/0034.png filter=lfs diff=lfs merge=lfs -text
Frames/2/0021.png filter=lfs diff=lfs merge=lfs -text
Frames/2/0005.png filter=lfs diff=lfs merge=lfs -text
Frames/2/0022.png filter=lfs diff=lfs merge=lfs -text
Frames/2/0028.png filter=lfs diff=lfs merge=lfs -text
Frames/1/0008.png filter=lfs diff=lfs merge=lfs -text
Frames/1/0027.png filter=lfs diff=lfs merge=lfs -text
Frames/1/0030.png filter=lfs diff=lfs merge=lfs -text
Frames/1/0035.png filter=lfs diff=lfs merge=lfs -text
Frames/1/0015.png filter=lfs diff=lfs merge=lfs -text
Frames/1/0025.png filter=lfs diff=lfs merge=lfs -text
Frames/1/0029.png filter=lfs diff=lfs merge=lfs -text
Frames/2/0018.png filter=lfs diff=lfs merge=lfs -text
Frames/2/0013.png filter=lfs diff=lfs merge=lfs -text
Frames/2/0020.png filter=lfs diff=lfs merge=lfs -text
Frames/1/0012.png filter=lfs diff=lfs merge=lfs -text
Frames/1/0022.png filter=lfs diff=lfs merge=lfs -text
Frames/1/0024.png filter=lfs diff=lfs merge=lfs -text
Frames/2/0007.png filter=lfs diff=lfs merge=lfs -text
Frames/1/0001.png filter=lfs diff=lfs merge=lfs -text
Frames/1/0016.png filter=lfs diff=lfs merge=lfs -text
Frames/1/0033.png filter=lfs diff=lfs merge=lfs -text
Frames/2/0004.png filter=lfs diff=lfs merge=lfs -text
Frames/2/0035.png filter=lfs diff=lfs merge=lfs -text
Frames/1/0003.png filter=lfs diff=lfs merge=lfs -text
Frames/2/0002.png filter=lfs diff=lfs merge=lfs -text
Frames/2/0023.png filter=lfs diff=lfs merge=lfs -text
Frames/2/0032.png filter=lfs diff=lfs merge=lfs -text
Frames/2/0008.png filter=lfs diff=lfs merge=lfs -text
Frames/2/0019.png filter=lfs diff=lfs merge=lfs -text
Frames/1/0017.png filter=lfs diff=lfs merge=lfs -text
Frames/1/0031.png filter=lfs diff=lfs merge=lfs -text
Frames/2/0009.png filter=lfs diff=lfs merge=lfs -text
Frames/2/0029.png filter=lfs diff=lfs merge=lfs -text
Frames/1/0004.png filter=lfs diff=lfs merge=lfs -text
Frames/1/0005.png filter=lfs diff=lfs merge=lfs -text
Frames/1/0006.png filter=lfs diff=lfs merge=lfs -text
Frames/1/0009.png filter=lfs diff=lfs merge=lfs -text
Frames/1/0014.png filter=lfs diff=lfs merge=lfs -text
Frames/2/0016.png filter=lfs diff=lfs merge=lfs -text
Frames/2/0017.png filter=lfs diff=lfs merge=lfs -text
Frames/2/0031.png filter=lfs diff=lfs merge=lfs -text
Frames/1/0018.png filter=lfs diff=lfs merge=lfs -text
Frames/1/0021.png filter=lfs diff=lfs merge=lfs -text
Frames/1/0020.png filter=lfs diff=lfs merge=lfs -text
Frames/1/0023.png filter=lfs diff=lfs merge=lfs -text
Frames/2/composite0001-0090.mov filter=lfs diff=lfs merge=lfs -text
