prj/comic-splitter/src/7.jpg filter=lfs diff=lfs merge=lfs -text
prj/comic-splitter/src/1.jpg filter=lfs diff=lfs merge=lfs -text
prj/comic-splitter/src/2.jpg filter=lfs diff=lfs merge=lfs -text
prj/comic-splitter/src/3.jpg filter=lfs diff=lfs merge=lfs -text
prj/comic-splitter/src/4.jpg filter=lfs diff=lfs merge=lfs -text
prj/comic-splitter/src/6.jpg filter=lfs diff=lfs merge=lfs -text
prj/comic-splitter/src/5.jpg filter=lfs diff=lfs merge=lfs -text
prj/comic-splitter/src/8.jpg filter=lfs diff=lfs merge=lfs -text
prj/comic-splitter/src/9.jpg filter=lfs diff=lfs merge=lfs -text
prj/comic-splitter/src/4.png filter=lfs diff=lfs merge=lfs -text
prj/comic-splitter/src/5.png filter=lfs diff=lfs merge=lfs -text
prj/flow-builder/doc/arquitetura.png filter=lfs diff=lfs merge=lfs -text
prj/comic-splitter/src/1.png filter=lfs diff=lfs merge=lfs -text
prj/comic-splitter/src/2.png filter=lfs diff=lfs merge=lfs -text
prj/comic-splitter/src/3.png filter=lfs diff=lfs merge=lfs -text
tcc/IMP/sound_input/ch2_3.wav filter=lfs diff=lfs merge=lfs -text
tcc/IMP/sound_input/ch3_1.wav filter=lfs diff=lfs merge=lfs -text
tcc/IMP/sound_input/ch3_3.wav filter=lfs diff=lfs merge=lfs -text
tcc/IMP/sound_input/ch1_3.wav filter=lfs diff=lfs merge=lfs -text
tcc/IMP/sound_input/ch2_0.wav filter=lfs diff=lfs merge=lfs -text
tcc/IMP/sound_input/ch1_2.wav filter=lfs diff=lfs merge=lfs -text
tcc/IMP/sound_input/ch2_1.wav filter=lfs diff=lfs merge=lfs -text
tcc/IMP/sound_input/ch2_2.wav filter=lfs diff=lfs merge=lfs -text
tcc/IMP/sound_input/ch3_0.wav filter=lfs diff=lfs merge=lfs -text
tcc/IMP/sound_input/ch3_2.wav filter=lfs diff=lfs merge=lfs -text
tcc/IMP/sound_input/ch1_0.wav filter=lfs diff=lfs merge=lfs -text
tcc/IMP/sound_input/ch1_1.wav filter=lfs diff=lfs merge=lfs -text
prj/flow-builder/doc/arquitetura.vsd filter=lfs diff=lfs merge=lfs -text
prj/flow-builder/doc/arquitetura.docx filter=lfs diff=lfs merge=lfs -text
prj/flow-builder/src/flowbuilder/diagram/icons/Activity16.gif filter=lfs diff=lfs merge=lfs -text
prj/flow-builder/src/flowbuilder/diagram/icons/Note16.gif filter=lfs diff=lfs merge=lfs -text
ia/BSBNetwork/src/br/furb/black.gif filter=lfs diff=lfs merge=lfs -text
prj/flow-builder/icons/compile16.gif filter=lfs diff=lfs merge=lfs -text
prj/flow-builder/icons/fbc16.gif filter=lfs diff=lfs merge=lfs -text
prj/flow-builder/icons/fbd16.gif filter=lfs diff=lfs merge=lfs -text
prj/flow-builder/src/flowbuilder/diagram/icons/Decision16.gif filter=lfs diff=lfs merge=lfs -text
ia/BSBNetwork/src/br/furb/gray.gif filter=lfs diff=lfs merge=lfs -text
prj/flow-builder/icons/fbd24.gif filter=lfs diff=lfs merge=lfs -text
prj/flow-builder/src/flowbuilder/diagram/icons/Fork16.gif filter=lfs diff=lfs merge=lfs -text
prj/flow-builder/src/flowbuilder/diagram/icons/Text16.gif filter=lfs diff=lfs merge=lfs -text
ia/BSBNetwork/src/br/furb/white.gif filter=lfs diff=lfs merge=lfs -text
prj/flow-builder/icons/compile24.gif filter=lfs diff=lfs merge=lfs -text
prj/flow-builder/src/flowbuilder/diagram/icons/Begin16.gif filter=lfs diff=lfs merge=lfs -text
prj/flow-builder/src/flowbuilder/diagram/icons/End16.gif filter=lfs diff=lfs merge=lfs -text
prj/flow-builder/doc/tarefas.PNG filter=lfs diff=lfs merge=lfs -text
